<div class="titulo">
    <h1>EL GRIFO</h1>
</div>

<div class="container">
    <app-head></app-head>
    <app-trunk></app-trunk>
    <app-legs></app-legs>
    <app-feet></app-feet>
</div>
<h1 class="texto"> Según la mitología clásica,
     los grifos eran animales de luz. Estaban consagrados a Apolo, 
     dios del sol, y tiraban de su carro en el viaje diario que este emprendía de Oriente a Occidente. 
     Junto con el trípode y la lira, estas criaturas llegaron a ser símbolo de esta divinidad y de su culto</h1>